[project]
	description = New YUI build tool based on Gearjs, so let's shift some gears
[access "refs/*"]
	owner = group user/Dmitry Lapshukov (dmi3y)
[access "refs/for/refs/*"]
	read = group user/Dmitry Lapshukov (dmi3y)
	push = group user/Dmitry Lapshukov (dmi3y)
	label-Code-Review = -2..+2 group user/Dmitry Lapshukov (dmi3y)
	label-Verified = -1..+1 group user/Dmitry Lapshukov (dmi3y)
	rebase = group user/Dmitry Lapshukov (dmi3y)
	removeReviewer = group user/Dmitry Lapshukov (dmi3y)
	submit = group user/Dmitry Lapshukov (dmi3y)
[access "refs/heads/*"]
	read = group user/Dmitry Lapshukov (dmi3y)
	create = group user/Dmitry Lapshukov (dmi3y)
	push = +force group user/Dmitry Lapshukov (dmi3y)
	pushMerge = group user/Dmitry Lapshukov (dmi3y)
[access "refs/tags/*"]
	push = +force group user/Dmitry Lapshukov (dmi3y)
	pushTag = group user/Dmitry Lapshukov (dmi3y)
	pushSignedTag = group user/Dmitry Lapshukov (dmi3y)
